body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#result {
    font-size: 20px;
    margin: 10px 0;
}

#computer-choice {
    font-size: 18px;
}

.instructions {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin: 20px 0;
}

.instructions h2 {
    font-size: 20px;
    margin: 0;
}

.instructions p {
    font-size: 16px;
    margin: 10px 0;
}

.instructions ul {
    list-style-type: disc;
    margin-left: 20px;
}


